/node_modules
/public/hot
/public/receipts
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/docker/local/mysql
/docker/staging/mysql
/docker/production/mysql
/data

/docker/local/postgres

dump.rdb

gcp_service_account.json
firebase_service_account.json

/public/temp_bank_statement
firebase_key

nano ~/.zshr